<div id="<%= dom_id shot %>">
  <div class="my-5 overflow-hidden rounded-lg relative">
    <%= link_to shot, class: "bg-gray-100 inline-block font-medium" do %>
      <%= image_tag(shot.user_shot_url, class: 'object-cover object-center h-48 w-96 max-w-full') %>
      <div class="absolute h-48 bottom-0 left-0 right-0 bg-gradient-to-t from-gray-900 to-50% text-white flex items-end justify-end pe-2 pb-2">
        <%= truncate(shot.title, length: 100) %>
      </div>
    <% end %>
  </div>
  <div class="flex align-center justify-between">
    <a class="inline-flex" href="#TODO:/point/to/user/profile">
      <img src="<%= shot.user.gravatar_image %>" width="24" height="24" class="rounded-full me-3" alt="<%= shot.user.name %>'s profile photo" />
      <%= shot.user.name %>
    </a>
    <p class="text-sm text-gray-500 text-right">Created <%= time_ago_in_words(shot.created_at) %></p>
  </div>
</div>
