<div class="mx-auto mb-5">
  <div id="<%= dom_id @shot %>">
    <div class="bg-white my-5 p-5">
      <div class="flex justify-center">
        <%= link_to @shot do %>
          <%= image_tag(@shot.user_shot_url) %>
        <% end %>
      </div>
      <div class="text-gray-500">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 inline">
          <path d="M10 12.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" />
          <path fill-rule="evenodd" d="M.664 10.59a1.651 1.651 0 010-1.186A10.004 10.004 0 0110 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0110 17c-4.257 0-7.893-2.66-9.336-6.41zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
        </svg>

        <%= pluralize(@shot.impressionist_count, "View") %>
      </div>

      <div class="text-gray-500">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline">
          <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
        </svg>

        <%= pluralize(@shot.comments.count, 'Coment') %>
        </div>
    </div>
    <div class="flex align-center justify-between">
      <a class="inline-flex" href="#TODO:/point/to/user/profile">
        <img src="<%= @shot.user.gravatar_image %>" width="24" height="24" class="rounded-full me-3" alt="<%= @shot.user.name %>'s profile photo" />
        <%= @shot.user.name %>
      </a>
      <p class="text-sm text-gray-500 text-right">Created <%= time_ago_in_words(@shot.created_at) %></p>
    </div>
    <p class="my-5 font-bold">
      <%= @shot.title %>
    </p>
    <p class="my-5">
      <%= truncate(@shot.description, length: 100) %>
    </p>
    <% if current_user == @shot.user %>
      <%= link_to "Edit this shot", edit_shot_path(@shot), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to "Destroy this shot", @shot, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </div>
    <% end %>
    <p class="my-5">
      <h2 class="font-bold text-1xl"><%= pluralize(@shot.comments.count, 'Comment') %></h2>
      <%= render @shot.comments %>
      <hr class="my-4" />
      <h3 class="font-bold text-2xl">
        Add a reply
      </h3>
      <% if user_signed_in? %>
        <%= render 'comments/form' %>
      <% else %>
        <%= link_to 'Sign in to comment', new_user_session_path, class: 'mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium' %>
      <% end %>
    </p>
  </div>
</div>
