<!DOCTYPE html>
<html>
  <head>
    <title>DribbbleClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <div class="max-w-6xl mx-auto">
      <header class="border-b border-gray-200 mb-4">
        <div class="mx-auto flex h-16 items-center gap-4">
          <div class="flex flex-1 items-center gap-4 justify-between">
            <a href="/">
              <span class="font-medium text-gray-900">Dribbble Clone</span>
            </a>
            <nav>
              <ul class="gap-4 flex">
                <li class="lg:ms-auto">
                  <a class="block text-sm font-medium text-gray-900">
                    Menu item
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <% if notice.present? %>
        <div role="alert" class="rounded border-s-4 border-green-500 bg-green-50 p-4 mb-2">
          <p class="text-green-700">
            <%= notice %>
          </p>
        </div>
      <% end %>
      <% if alert.present? %>
        <div role="alert" class="rounded border-s-4 border-red-500 bg-red-50 p-4 mb-2">
          <p class="text-red-700">
            <%= alert %>
          </p>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
